<div>

<!--header-->
<div class="my-header-wrapper">
  <div class="my-header-backgroud-img"></div>
  <div class="my-header-foreground"></div>
</div>

<!--inputs-->
<div class="my-inputs-wrapper">
  <input class="my-task-input" placeholder="Enter Task To Be Done" type="text">
  <button class="my-button" type="button" name="ADD">ADD</button>
</div>

<!--all task wrapper-->
<div class="my-task-wrapper">
  <div class="my-tsk-display-wrapper">

    <div class="my-task-display-text-wrapper">
      <h4 class="my-task-title">HOME WORK</h4>
      <p class="my-task-date">2019 May 20 18:00 GMT</p>
    </div>

    <div class="my-task-button-delete"></div>
  </div>
</div>
</div>
